@import "../../styles/index.scss";

.searchBoxBackground    {
    @extend .dFlexSpaceBetweenV;
    border-radius: 2.0rem;
    border: 0.1rem solid $colorGrey7;
    padding: 0.75rem 2rem;
    .input  {
        font-size: 1.25rem;
        width: 90%;
        border: none;
        &:focus {
            outline: none;
        }
        &::placeholder  {
            color:$colorGrey;
        }
    }
    .searchIcon {
        color: $colorGrey;
        height: 1.25rem;
        width: 1.25rem;
    }
}