@import "../../../../styles/index.scss";

.orderDetailsBackground {
  @extend .dFlexSpaceBetween;
  width: 100%;
  background-color: $colorGrey6;
  border-radius: 0.5rem;
  border: 0.1rem solid $colorGrey7;
  padding: 1.25rem 2rem;
  .orderDetailsTable {
    width: 100%;
    .orderDetailsTd {
      padding: 0 1.75rem;
      .subOrderDetailsItemBackground {
        .heading {
          margin-bottom: 0.5rem;
        }
      }
    }
    .orderDetailsTdLeft {
      border-right: 0.1rem solid $colorGrey7;
    }
    .orderDetailsTdRight {
      border-left: 0.1rem solid $colorGrey7;
    }
    .orderDetailsTdCenter {
      @extend .orderDetailsTdRight;
      @extend .orderDetailsTdLeft;
    }
  }
}
