@import "./variables.scss";
* {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  // -ms-overflow-style: none;
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
}
::-webkit-scrollbar {
  display: none;
}
.dFlex  {  
  display: flex;
  flex-direction: row;
}
.dFlexCenterV {
  @extend .dFlex;
  align-items: center;
}
.dFlexCenterVH {
  @extend .dFlex;
  justify-content: center;
  align-items: center;
}
.dFlexSpaceBetween {
  @extend .dFlex;
  justify-content: space-between;
}
.dFlexSpaceBetweenV {
  @extend .dFlexCenterV;
  justify-content: space-between;
}
.navFont {
  font-size: $font1;
  color: $colorGreen1;
}
.paddingH {  
  padding-right: 7rem;
  padding-left: 7rem;
}