// colors
$colorBlack: #000;
$colorBlackTransparent: #00000080;
$colorGreen: #1e623e;
$colorGreen1: #cfdfd6;
$colorGreen2: #3ccb72;
$colorGrey: #787a82;
$colorGrey1: #e4e4e4;
$colorGrey2: #989998;
$colorGrey3: #f3f3f3;
$colorGrey4: #f8f9f8;
$colorGrey5: #fbfbfb;
$colorGrey6: #fefeff;
$colorGrey7: #e3e3e3;
$colorGrey8: #b4b4b5;
$colorOrange: #f66c45;
$colorRed: #da2115;
$colorTransparent: transparent;

$colorWhite: #fff;

// font sizes
$font1: 1.5rem;
