@import "../../styles/index.scss";

.rootBody {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $colorBlackTransparent;
  z-index: 1;
  @extend .dFlexCenterVH;
  .modalBackground {
    border-radius: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 2rem 2rem;
    background-color: $colorWhite;
    min-width: 30%;
    .header {
      @extend .dFlexSpaceBetween;
      .cross {
        $crossSize: 1.75rem;
        height: $crossSize;
        width: $crossSize;
      }
      .subTitle {
        margin-top: 0.5rem;
      }
    }
    .body {
      padding: 1rem 0;
    }
    .footer {
      @extend .dFlexCenterV;
      justify-content: flex-end;
    }
  }
}
